# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.iml
*.swp

# Database
instance/
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Sensitive Deployment Scripts
enable_paystack.ps1
deploy_with_plink.ps1
deploy.ps1
