[Unit]
Description=Gunicorn instance to serve DICE App
After=network.target

[Service]
# User running the app (usually 'root' on simple VPS or a specific user like 'www-data')
User=root
# Group=www-data
WorkingDirectory=/var/www/dice_app
Environment="PATH=/var/www/dice_app/venv/bin"
ExecStart=/var/www/dice_app/venv/bin/gunicorn --workers 3 --bind unix:dice_app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
